@media (min-width: 1025px) {
	.h-custom {
		height: 100vh !important;
	}
}

.horizontal-timeline .items {
	border-top: 2px solid #ddd;
}

.horizontal-timeline .items .items-list {
	position: relative;
	margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #ddd;
	top: 0;
	margin-top: -5px;
}

.horizontal-timeline .items .items-list {
	padding-top: 15px;
}

.order-detail-container {
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-header {
	margin-bottom: 20px;
}

.order-title {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.order-info p {
	margin: 5px 0;
	font-size: 16px;
	color: #555;
}

.order-items h2 {
	margin-top: 20px;
	font-size: 20px;
	color: #333;
}

.list-group-item {
	border: none;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

.item-image {
	border-radius: 4px;
}

.item-details p {
	margin: 0;
	font-size: 14px;
	color: #666;
}

.order-status {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
