.footer-container {
	background-color: black;
	color: white;
}
.footer-container h5 {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
}
.footer-container p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #6c757d;
}

.footer-container span {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #6c757d;
}
